<form action="/selecaoppgi/login/authenticate" method="POST" role="form">
    <input type="hidden" name="{{csrf.name}}" value="{{csrf.value}}"/>
    
    <div class="wide-card mdl-card mdl-shadow--2dp min-spacer-up">
    
        <!-- Form header -->
        <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">
            	{{ 'form_title' | translate }}
            </h2>
        </div>

        <!-- Form body -->
        <div class="mdl-card__supporting-text">

        <!-- Error message -->
        <div class="alert alert-danger">
        	{{ error | translate }}
        </div>

        <!-- E-mail field -->
        <div class="wide mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="text" name="username" id="user-email">
            <label class="mdl-textfield__label" for="user-email">
            	{{ 'label_email' | translate }}:
            </label>
        </div>

        <!-- Password field -->
        <div class="wide mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="password" name="password" id="user-password">
            <label class="mdl-textfield__label" for="user-password">
                {{ 'label_password' | translate }}:
            </label>
        </div>

        </div>

        <!-- Form buttons -->
        <div class="mdl-card__actions mdl-card--border">
       	 	<div class="left">
                <button type="submit" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                    {{ 'button_submit' | translate }}
                </button>
            </div>
            <div class="right">
			    <button type="button" ng-click="create()" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
			    	{{ 'button_create_account' | translate }}
			    </button>
			    <button type="button" ng-click="forgot()" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
			    	{{ 'button_forgot_password' | translate }}
			    </button>
		    </div>
        </div>
    </div>
</form>

<!-- Social Sign In Buttons -->
<h2 class="mdl-subtitle-text max-spacer-up">
	{{ 'signin_title' | translate }}
</h2>

<div class="mdl-grid">
    <!-- Add Facebook sign in button -->
	<div class="mdl-cell mdl-cell--6-col">
        <button ng-click="loginFacebook()" class="wide mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect btn-social btn-facebook">
            <span class="fa fa-facebook"></span>
            {{ 'siging_facebook' | translate }}
        </button>
	</div>

    <!-- Add Twitter sign in Button -->
	<div class="mdl-cell mdl-cell--6-col">
        <button ng-click="loginTwitter()" class="wide mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect btn-social btn-twitter">
            <span class="fa fa-twitter"></span>
            {{ 'siging_twitter' | translate }}
        </button>
	</div>
</div>

