<!--
  -- Lista de provas escritas 
  -->

<div>
	<div>
		<div class="left">
			<h4 class="list-title">
				{{'edital.form.titulo.provas.escritas' | translate}}
			</h4>
		</div>
		<div class="right">
			<button class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" ng-click="$ctrl.novaProva()">
				{{'edital.form.botao.nova.prova' | translate}}
			</button>
		</div>
		<div class="clear">
		</div>
	</div>
	
	<table class="wide mdl-data-table mdl-js-data-table mdl-shadow--2dp">
	<thead>
	<tr>
		<th class="mdl-data-table__cell--non-numeric">{{'edital.form.coluna.codigo' | translate}}</th>
		<th class="mdl-data-table__cell--non-numeric">{{'edital.form.coluna.nome' | translate}}</th>
		<th class="mdl-data-table__cell--non-numeric">{{'edital.form.coluna.dispensavel' | translate}}</th>
		<th>{{'edital.form.coluna.nota.minima' | translate}}</th>
		<th class="mdl-data-table__cell--non-numeric">{{'edital.form.coluna.pesos' | translate}}</th>
		<th></th>
	</tr>
	</thead>
	<tbody>
	<tr ng-repeat="prova in $ctrl.edital.provasEscritas track by $index">
		<td class="mdl-data-table__cell--non-numeric">{{prova.codigo}}</td>
		<td class="mdl-data-table__cell--non-numeric">{{prova.nome}}</td>
		<td class="mdl-data-table__cell--non-numeric">{{prova.dispensavel ? "S" : "N"}}</td>
		<td>{{prova.notaMinimaAprovacao}}</td>
		<td class="mdl-data-table__cell--non-numeric">{{$ctrl.formataPesos(prova)}}</td>
		<td>
			<button class="mdl-button mdl-js-button mdl-button--icon" ng-click="$ctrl.editaProva($index)">
				<i class="material-icons">edit</i>
			</button>
			<button class="mdl-button mdl-js-button mdl-button--icon" confirmed-click="$ctrl.removeProva($index)" ng-confirm-click="{{'edital.form.mensagem.confirma.remocao.prova' | translate}}">
				<i class="material-icons">delete</i>
			</button>
		</td>
	</tr>
	</tbody>
	</table>
</div>
	
			
<!-- 
  -- Janela de edicao de nova prova 
  -->
  
<dialog class="mdl-dialog" id="dlgNovaProvaEscrita" style="width: 600px;">
    <h4 class="mdl-dialog__title">
    		{{'edital.form.dialog.nova.prova.titulo' | translate}}
    </h4>
    <div class="mdl-dialog__content">
	    	<div>
	    		<div class="left" style="width:25%; padding-right: 16px;">
				<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label block" mdlTextfieldInput>
				    <input ng-model="$ctrl.prova.codigo" class="mdl-textfield__input" type="text" name="codigo-prova" id="codigo-prova">
				    <label class="mdl-textfield__label" for="codigo-prova">
				    		{{'edital.form.dialog.nova.prova.label.codigo' | translate}}:
				    </label>
				</div>
	    		</div>
	    		<div class="right" style="width:70%">
				<div class="wide mdl-textfield mdl-js-textfield mdl-textfield--floating-label block" mdlTextfieldInput>
				    <input ng-model="$ctrl.prova.nome" class="mdl-textfield__input" type="text" name="nome-prova" id="nome-prova">
				    <label class="mdl-textfield__label" for="nome-prova">
				    		{{'edital.form.dialog.nova.prova.label.nome' | translate}}:
				    </label>
				</div>
	    		</div>
	    		<div class="clear">
	    		</div>
	    	</div>
	    	
	    	<div>
	    		<div class="left" style="width:25%; padding-right: 16px;">
				<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label block" mdlTextfieldInput>
				    <input ng-model="$ctrl.prova.notaMinimaAprovacao" class="mdl-textfield__input" type="text" pattern="[0-9]+" name="notaMinima" id="nota-minima-prova">
				    <label class="mdl-textfield__label" for="nota-minima-prova">
				    		{{'edital.form.dialog.label.nota.minima.prova' | translate}}:
				    </label>
				</div>
	    		</div>
	    		<div class="right" style="width:70%; padding-top: 16px;">
				<label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-1">
					<input type="checkbox" id="checkbox-1" class="mdl-checkbox__input" ng-model="$ctrl.prova.dispensavel">
					<span class="mdl-checkbox__label">{{'edital.form.dialog.label.dispensavel' | translate}}:</span>
				</label>
	    		</div>
	    		<div class="clear">
	    		</div>
	    	</div>
		
		<div>
			<div style="margin-top: 16px; margin-bottom: 4px;">
				<div class="left">
					<h4 class="list-title">{{'edital.form.dialog.titulo.pesos.questoes' | translate}}</h4>
				</div>
				<div class="right">
					<button class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" ng-click="$ctrl.novaQuestao()">
					{{'edital.form.dialog.botao.nova.questao' | translate}}
					</button>
				</div>
				<div class="clear">
				</div>
			</div>
			<table class="wide mdl-data-table mdl-js-data-table mdl-shadow--2dp">
			<tbody>
			<tr ng-repeat="peso in $ctrl.prova.pesosQuestoes track by $index">
				<td class="mdl-data-table__cell--non-numeric">
				    <input ng-model="$ctrl.prova.pesosQuestoes[$index]" class="editor-peso-prova" type="number" pattern="[0-9]+">
				</td>
				<td>
					<button class="mdl-button mdl-js-button mdl-button--icon" ng-hide="$index == 0" ng-click="$ctrl.removeQuestao($index)">
						<i class="material-icons">delete</i>
					</button>
				</td>
			</tr>
			</tbody>
			</table>
		</div>
   	</div>
    <div class="mdl-dialog__actions">
      	<button type="button" class="mdl-button close">
      		{{'edital.form.dialog.botao.cancela' | translate}}
      	</button>
      	<button type="button" class="mdl-button" data-ng-click="$ctrl.salvaProva()">
      		{{'edital.form.dialog.botao.ok' | translate}}
		</button>
    </div>
</dialog>
